/* Custom Antd */
.ant-pagination-item-active {
  border-color: #024469 !important;
}

.ant-pagination-item:hover {
  border-color: #024469 !important;
}

.ant-pagination-item-active a {
  color: #024469 !important ;
}

.ant-pagination-item a:hover {
  color: #024469 !important ;
}

.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link {
  color: #024469 !important ;
  border-color: #024469 !important ;
}

.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: #024469 !important ;
}

.ant-card-head-title {
  white-space: normal !important;
}

[data-theme="compact"]
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
  border: 0px;
  border-radius: 2px;
}

.ant-collapse > .ant-collapse-item,
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 0 !important;
}
